# =========================
# Django
# =========================
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0,django_api

# =========================
# Base de datos
# sqlite | postgres
# =========================
DATABASE_ENGINE=sqlite

# =========================
# PostgreSQL - Docker / Producción futura
# =========================
POSTGRES_DB=estelart_db
POSTGRES_USER=estelart_user
POSTGRES_PASSWORD=estelart_password
POSTGRES_HOST=db
POSTGRES_PORT=5432
