# =========================
# Django
# =========================
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0,django_api
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
FRONTEND_URL=http://localhost:5173
DJANGO_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DJANGO_DEFAULT_FROM_EMAIL=ESTELART <no-reply@localhost>
DJANGO_EMAIL_HOST=localhost
DJANGO_EMAIL_PORT=587
DJANGO_EMAIL_HOST_USER=
DJANGO_EMAIL_HOST_PASSWORD=
DJANGO_EMAIL_USE_TLS=True
# =========================
# Base de datos
# sqlite | postgres
# =========================
DATABASE_ENGINE=sqlite

# =========================
# PostgreSQL - Docker / Producción futura
# =========================
POSTGRES_DB=estelart_db
POSTGRES_USER=estelart_user
POSTGRES_PASSWORD=estelart_password
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Produccion (activar solo detrás de HTTPS correctamente configurado)
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_SESSION_COOKIE_SECURE=False
DJANGO_CSRF_COOKIE_SECURE=False
DJANGO_SECURE_HSTS_SECONDS=0
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=False
DJANGO_SECURE_HSTS_PRELOAD=False
