# =========================
# Django
# =========================
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# =========================
# Base de datos
# Por ahora seguimos con SQLite.
# Luego cambiaremos a PostgreSQL con Docker.
# =========================
DATABASE_ENGINE=sqlite